.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  height: 25px;
  width: 300px;
  border-radius: 5px;
  background-color: pink;
  display: flex;
  margin: 25px 0;
  box-shadow: green 5px 5px 5px;
}

button {
  width: 190px;
  height: 25px;
  border-radius: 5px;
  background-color: red;
  font-weight: 700;
  display: flex;
  box-shadow: green 5px 5px 5px;
}

h3 {
  margin-left: -100px;
}

.person {
  background-color: blue;
  padding: 5px;
  border-radius: 15px;
  box-shadow: green 5px 5px 20px;
  margin-top: 25px;
}